<h2 class="popup">	
	<%= image_tag 'popup/tit_h2_release_check.gif', alt: 'Dirリリース待機', width: 151, height: 18 %>
</h2>
	 
<table>
	<tr>
		<td>
			<div class="t_ht"><div class="txt"><label>担当名:</label></div></div>
		</td>

		<td>
			<div class="d_ht">
				<div class="frm">							 
					<%= pa_link.work.charge_name %>		
				</div>
			</div>
		</td>
	</tr> 
</table> 