
<h1>担当者一覧</h1>

<table>
  <tr>
	<th>ID</th>
    <th>ログインID</th>
    <th>権限</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.login %></td>
	<td><%= user.authority %></td>
  </tr>
<% end %>
</table>
